{{outlet}}

{{#unless isEditing}}
  <article id="creature">
    <h1>
      {{model.fullName}}
      {{#link-to 'creature.edit' model classNames='edit'}}edit{{/link-to}}
    </h1>
    <img {{bind-attr src=model.avatar}} />
    <p>{{model.description}}</p>
    <p>{{model.notes}}</p>
    <p>Wikipedia: <a {{bind-attr href=model.wiki_url}}>{{model.name}}</a></p>
    <p><a href="#" {{action 'delete'}} class="delete">delete</a></p>
  </article>
{{/unless}}
